In [1]:
a=5
a

5

In [2]:
a + 7

12

# Heading1

### Title

There are five major rivers in the country.
**These are as follows**
- Brahmaputra
- Ganga
- Yamuna
- Godavari
- Tungabhadra

_These rivers interconnect at major junctions such as the Sangam._

This ia a raw nbconvert cell. For explanations or details associated with the code or analytics, this cell type becomes handy. It is suitable for passages where plain text is all that is needed.

### Title

In [3]:
a

5

In [4]:
a

5

### Keywords
Words in Pyhon with designed, reserved for that purpose

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
len(keyword.kwlist)

35

### Comments
remarks used within a code cell

In [7]:
# hashtag is a popular way of commenting
apples = 25 # assinging the quantity of the fruit
apples

25

In [8]:
"""This is a style of commenting usefull for multi-line passages. it is conventient if the comment is expected to be lengthy."""
apples + 10 # more quantity added to the existing
#quantity of apples

35

### Identifiers
name given to an entity such as a variable, function or class.

In [9]:
assert = 234 # cannot use keywords as identifiers

SyntaxError: invalid syntax (733166511.py, line 1)

In [11]:
# use of alphanumeric characters along with the underscore
var_1 = 24
var_2 = 48 # initialising a variable
var_1 + var_2

72

In [12]:
var_1 # calling a variable

24

In [13]:
var_1 = 35 # re-initialing
var_1 # calling

35

In [14]:
var_1
var_2

48

In [15]:
print(var_1)
print(var_2)
print(var_1+var_2)
print(var_2-var_1)
print(var_1,var_2)

35
48
83
13
35 48

In [16]:
Var_1 = 44 # new variable since kernel is case sensitive
var_1

35

In [17]:
# single assignment
intvar = 24
floatvar = 9.81
strvar = "Bright sunny morning" # assign/initialise
print(intvar,floatvar,strvar)

24 9.81 Bright sunny morning

In [18]:
type(floatvar)

float

In [19]:
# Multiple assignment
intvar,floatvar,strvar,boolvar = 0,-56.772,"Twilight",False
print(intvar)
print(floatvar)
print(strvar)
print(boolvar)
print("Sum of the interger and float defined above",intvar+floatvar)

0
-56.772
Twilight
False
Sum of the interger and float defined above -56.772

In [20]:
age1=age2=age3=age4= 23 #Multiple assignment
print(age1)
print(age3-age2)
print(age3+age4)

23
0
46

### Typecasting

Change of the datatype from one to another

In [21]:
# Auto typecasting
45 - 20 + 5.77 - 16 + 2 # integers auto-typecast t float

16.77

In [22]:
3 -5 + 6*True -False -1.5 # 3.0-5.0+6.0-0.0-1.5

2.5

In [23]:
# Forced typecasting
# datatype changed by means of built-in functions

In [24]:
# int to float
float(intvar)

0.0

In [25]:
# change to a string
str(floatvar)

'-56.772'

In [26]:
str(intvar)

'0'

In [27]:
str_1 = str(boolvar)
str_1

'False'

In [28]:
# float to int
float(intvar)

0.0

In [29]:
#float to int
int(19.996)

19

In [30]:
str(30)

'30'

In [32]:
int('Infosys')

ValueError: invalid literal for int() with base 10: 'Infosys'

In [33]:
int("234")

234

In [34]:
isinstance(25,float)

False

In [35]:
isinstance(False,int)

True

In [36]:
bool(99)

True

In [37]:
bool("phyton")

True

In [38]:
bool(0)

False

In [39]:
bool(str)

True

In [40]:
bool(float)

True

In [41]:
bool("0")

True

In [42]:
bool(intvar)

False

In [43]:
id(age1)

140714852259304

In [44]:
id(age3)

140714852259304

In [45]:
age5=23.0
id(age5)

1210457494800

In [46]:
age6=99.9
id(age6)

1210471306864

In [47]:
id(age1+age6)

1210457504784

### String Indexing

In [48]:
str1 = "ALL AROUND THE GLOBE!"
str1

'ALL AROUND THE GLOBE!'

In [49]:
len(str1)

21

In [50]:
str1[9] # 10th character

'D'

In [51]:
# 1st character
str1[0]

'A'

In [52]:
# 3rd character
str1[-20]

'L'

In [53]:
# 5th character
str1[-18]

' '

In [54]:
# Slicing
# str_name[strat:end]

In [55]:
# Extract 'AROUND' from str1
str1[4:10]

'AROUND'

In [56]:
str1[4:-11]

'AROUND'

In [57]:
str1[0:10]

'ALL AROUND'

In [58]:
str1[ :10]

'ALL AROUND'

In [59]:
str1[ : ]

'ALL AROUND THE GLOBE!'

In [60]:
str1[-21: ]

'ALL AROUND THE GLOBE!'

In [61]:
str1[-10:-1]

'THE GLOBE'

In [62]:
str1[1:9:2]

'L RU'

In [63]:
"P+Q+R*S-T+U"[::]

'P+Q+R*S-T+U'

In [64]:
"P+Q+R*S-T+U"[::2] # EXTRACT VARIABLES

'PQRSTU'

In [65]:
# String concatenation
s1 = "Applied"
s2 = "Statistic"
s1 + " " + s2 # concatenate string using + operator

'Applied Statistic'

# Task:
Assign a variable to " ELECTION ROUND THE CORNER ON A SUNNY DAY"
Extract the following:
1) 'ELECTION CORNER'
2) 'SUNNY ROUND ELECTIONS'
3) 'SUN ON AN ELECTION DAY'

In [66]:
# String concatenation
p1 = "ELECTION"
p2 = "ROUND"
p3 = "THE"
p4 = "CORNER"
p5 = "ON"
p6 = "A"
p7 = "SUNNY"
p8 = "DAY"
p1 + " " + p4

'ELECTION CORNER'

In [67]:
p7 + " " + p2 + " " +p1

'SUNNY ROUND ELECTION'

In [68]:
p7 + " " + p5 + " " + p6 + " " + p1 + " " + p8

'SUNNY ON A ELECTION DAY'

In [69]:
# String concatenation
p1 = "ELECTION"
p2 = "ROUND"
p3 = "THE"
p4 = "CORNER"
p5 = "ON"
p6 = "A"
p7 = "SUNNY"
p8 = "DAY"
p9 = "SUN"
q1 = "AN"
p9 + " " + p5 + " " + q1 + " " + p1 + " " + p8

'SUN ON AN ELECTION DAY'

### Strings

Strings are immutable. Once defined we cannot modify a string.

In [70]:
# using a replace function
str1 = "Good Morning"
str1

'Good Morning'

In [71]:
str1.replace("Morning","Evening") #(substring to replace, new substring)

'Good Evening'

In [72]:
str1 # no changes after applying a function

'Good Morning'

In [73]:
str1 = str1.replace("Morning","Evening")
str1

'Good Evening'

In [74]:
str1 = str1.replace("Good","not so good") # new variable initialised
str1

'not so good Evening'

### String functions

In [75]:
str2 = "     Low mansoon season last year        "
str2

'     Low mansoon season last year        '

In [76]:
str2.strip() # by default removes whitespac from start and end

'Low mansoon season last year'

In [77]:
str2

'     Low mansoon season last year        '

In [78]:
str2 = str2.strip()
str2

'Low mansoon season last year'

In [79]:
str3 = "  @@@@@@$$$$$    77th Year of Independance    %%%%%%     "
str3

'  @@@@@@$$$$$    77th Year of Independance    %%%%%%     '

In [80]:
str3 = str3.strip() # by default
str3

'@@@@@@$$$$$    77th Year of Independance    %%%%%%'

In [81]:
str4 = str3.strip("@$ %")
str4

'77th Year of Independance'

In [82]:
# change case to lower
str4.lower()

'77th year of independance'

In [83]:
# uppercase
str4.upper()

'77TH YEAR OF INDEPENDANCE'

# partation() breaks up the string into 3 parts:
portion before the partation
the substring itself
portion after the substring

In [85]:
match1 = "RCB vs MI"
match2 = "CSK vs DC"
print(match1,match2)

RCB vs MI CSK vs DC

In [86]:
match1.partition(" vs ")

('RCB', ' vs ', 'MI')

In [87]:
match2.partition(" vs ")

('CSK', ' vs ', 'DC')

In [88]:
# Split() identifies spaces throughout a string
cities = "Mumbai Bangalore Chennai Kolkata Hyderabad Coimbatore Cuttack Delhi"
cities

'Mumbai Bangalore Chennai Kolkata Hyderabad Coimbatore Cuttack Delhi'

In [89]:
cities.split()

['Mumbai',
 'Bangalore',
 'Chennai',
 'Kolkata',
 'Hyderabad',
 'Coimbatore',
 'Cuttack',
 'Delhi']

In [90]:
cities.index('Bangalore') # gives the position of a specified character

7

In [91]:
new_str = "ml cc ds cv oops dbms ml cc ds cv oops fs fs fs cv cv ds cv"
new_str

'ml cc ds cv oops dbms ml cc ds cv oops fs fs fs cv cv ds cv'

In [92]:
new_str.count('cv') # no. of occurrences of substring

5

In [93]:
new_str.count('s')

9

In [94]:
# String membership[
'ML' in new_str  # checks for presence of substring within a string

False

In [95]:
# String membership[
'ml' in new_str  # checks for presence of substring within a string

True

### Format in Print
format() in conjuction with placeholders can be used within print()

In [96]:
item1 = 200
item2 = 300 
print("Cost of item1 at {} is comparable to item2 at {}".format(item1,item2))

Cost of item1 at 200 is comparable to item2 at 300

In [97]:
p_jan = 40
p_feb = 35
print("Potatoes last month were {} a kg. This month it has come down to {}".format(p_jan,p_feb))
print("The average price over 2 months in 2024 is {}. It is less than last quarter.".format((p_jan+p_feb)/2))

Potatoes last month were 40 a kg. This month it has come down to 35
The average price over 2 months in 2024 is 37.5. It is less than last quarter.

In [98]:
co1 = "TCS"
co2 = "Infosys"
co3 = "Wipro"
str_co = "{0},{1} and {2} are software gaints. {2} is the oldest and started with consumer goods. {1} is strongly \
into srevices whereas {0} has a focus on automation products. While {0} began in 1968, {1} started \
operations in 1981. {0} is a part os a larger conglomerate in Tata & Sons."
print(str_co.format(co1,co2,co3))

TCS,Infosys and Wipro are software gaints. Wipro is the oldest and started with consumer goods. Infosys is strongly into srevices whereas TCS has a focus on automation products. While TCS began in 1968, Infosys started operations in 1981. TCS is a part os a larger conglomerate in Tata & Sons.

Assign variables to 4 freedom fighters. Discuss their contributions, any collaborations, ideologies.
End with whether, or not they lived to set independence.

### Operators in Phytpon

### Logical OPerator

In [99]:
256>32

True

In [100]:
256>1024

False

In [101]:
256>32 and 256>1024 # True and False
# and requires all to be True

False

In [102]:
256>32 & 256>1024 # True and False
#  requires all to be True

False

In [103]:
256>32 or 256>1024 # True and False
# or requires all to be True

True

In [104]:
not 45>4005 # reverse the result

True

In [105]:
var_1 = 100/4
type(var_1)

float

In [106]:
var_2 = 10+15
type(var_2)

int

In [107]:
print(var_1,var_2)

25.0 25

In [108]:
var_1 == var_2 # equality of value

True

In [109]:
var_1 is var_2 # checks weather both point to the same location

False

In [110]:
var_1 is not var_2

True

## if-else conditions statements

In [111]:
age = 15
if age>=18:
    print(age)
    print("age of person is {} and person is an adult.".formate(age))
print("Independent of the condition") # out of block

Independent of the condition

In [112]:
x = 20
if x>=25:
    print ("Condition met")
else:
    print("Value of x is",x)
    print("Condition not satisfied")
print("out of if-else blocks of code") # independent

Value of x is 20
Condition not satisfied
out of if-else blocks of code

### Input function

In [113]:
name = input("Enter the name") # prompt within brackets

Enter the name 22

In [114]:
print(name)

22

In [115]:
score = input("Enter the score out of 100")

Enter the score out of 100 25

In [116]:
score

'25'

In [117]:
type(score)

str

In [118]:
score1 = int(input("Score with 100 has a maximum:"))

Score with 100 has a maximum: 55

In [119]:
print(score1, type(score1))

55 <class 'int'>

In [120]:
# check wheathe the user value is even or add
num = int(input("Enter the number"))
if num%2==0:
    print(f"The number {num} is even.")
else:
    print(f"The number {num} is odd.")
print("Validation completed") # out of if-else condition

Enter the number 23

The number 23 is odd.
Validation completed

In [121]:
# check wheathe the user value is even or add
num = int(input("Enter the number"))
if num%2==0:
    print(f"The number {num} is even.")
else:
    print(f"The number {num} is odd.")
print("Validation completed") # out of if-else condition

Enter the number 1

The number 1 is odd.
Validation completed

In [122]:
# weather the user number is positive or negative.
num = int(input("Enter the number:"))
if num>0:
    print(f"The number {num} is positive.")
elif num==0:
    print("the number Zero is negative positive nor negative.")
else:
    print(f"the number {num} is negative.")

print("Validation complete")

Enter the number: 0

the number Zero is negative positive nor negative.
Validation complete

In [123]:
num = int(input("Enter the number:"))
if num>0:
    print(f"The number {num} is positive.")
elif num==0:
    print("the number Zero is negative positive nor negative.")
else:
    print(f"the number {num} is negative.")

print("Validation complete")

Enter the number: 2

The number 2 is positive.
Validation complete

In [124]:
num = int(input("Enter the number:"))
if num>0:
    print(f"The number {num} is positive.")
elif num==0:
    print("the number Zero is negative positive nor negative.")
else:
    print(f"the number {num} is negative.")

print("Validation complete")

Enter the number: 3

The number 3 is positive.
Validation complete

In [125]:
num = float(input("Enter the number:"))
if num>0:
    print(f"The number {num} is positive.")
elif num==0:
    print("the number Zero is negative positive nor negative.")
else:
    print(f"the number {num} is negative.")

print("Validation complete")

Enter the number: 5

The number 5.0 is positive.
Validation complete

## Nested if condition statements

In [126]:
# Application for CEO position

age1 = int(input("Enter applicant age"))
if age1>=18: # most likely to be True(therefore choosen as parent if)
    print("Applicant is an adult.")
    if age1>25:
        print("Applicant has graduated.")
        print("May have experience")
        if age1>35:
            print("Likely to have at least 10 years experience")
    else:
        print("Freshers with minimal experience")
else:
    print("Applicant is a major and not eligible.")
print("Above is true for applicant age of",age1)
print("Tested for age condition")

Enter applicant age 3

Applicant is a major and not eligible.
Above is true for applicant age of 3
Tested for age condition

In [127]:
from datetime import date
date1 = date(1929,8,14) # year,month,day
date1

datetime.date(1929, 8, 14)

In [128]:
type(date1)

datetime.date

In [129]:
date1.year # attribute of date1

1929

In [130]:
date1.month # attribute of date1

8

In [131]:
date1.isoweekday() # what day of the week

3

In [132]:
from datetime import datetime as dt
present_time = dt.now()
present_time

datetime.datetime(2024, 6, 1, 19, 25, 25, 557353)

In [133]:
present_time.minute

25

In [134]:
present_time.hour

19

In [135]:
present_time.second

25

In [136]:
dir(dt)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [137]:
from datetime import date,timedelta
# find date after 150 days
today1 = date.today()
date_150 = today1 + timedelta(days=150)
date_150

datetime.date(2024, 10, 29)

In [138]:
# find date after 155 days
today1 = date.today()
date_155 = today1 + timedelta(days=155)
date_155

datetime.date(2024, 11, 3)

### Compute your age after 5000 days.

In [139]:
# find age after 5000 days
today2 = date.today()
date_5000 = today2 + timedelta(days=5000)
date_5000

datetime.date(2038, 2, 8)

### Data structure
- A grouping of data for ease of operations
- Structures may be ordered or unordered, each structure with different properties

## Lists
An ordered sequence of items. List is known for its flexibility.

In [140]:
# Empty List
list1 = []
list2 = list()
print(list1,list2)

[] []

In [141]:
list_num = [56,44,28,98,77,67,56,45,56]
list_num

[56, 44, 28, 98, 77, 67, 56, 45, 56]

In [142]:
list_mix = [77,459,-90.82,9.81, False, "Good morning"]
list_mix

[77, 459, -90.82, 9.81, False, 'Good morning']

In [143]:
len(list_mix)

6

In [144]:
list_mix[4]

False

In [145]:
list_mix[:5]

[77, 459, -90.82, 9.81, False]

In [146]:
list_num[5]

67

In [147]:
list_mix[4] = True
list_mix

[77, 459, -90.82, 9.81, True, 'Good morning']

In [148]:
list_num[5] = 99
list_num

[56, 44, 28, 98, 77, 99, 56, 45, 56]

### List functions
Afunction for a list modifies the struvture

In [149]:
#  Relationship with money
rel_money = ['Value','Asset','Time']
rel_money

['Value', 'Asset', 'Time']

In [150]:
# Adding a single item to the end
rel_money.append('Lifestyle')

In [151]:
rel_money

['Value', 'Asset', 'Time', 'Lifestyle']

In [152]:
# Add multple items to the end
rel_money.extend([ 'Patience', 'Expenses', 'Responsibllities' ])
rel_money

['Value',
 'Asset',
 'Time',
 'Lifestyle',
 'Patience',
 'Expenses',
 'Responsibllities']

In [153]:
# Inserting at a specified position
rel_money.insert(3,'Education')

In [154]:
rel_money

['Value',
 'Asset',
 'Time',
 'Education',
 'Lifestyle',
 'Patience',
 'Expenses',
 'Responsibllities']

In [155]:
# Removal of items
rel_money.pop() # by default removes last item

'Responsibllities'

In [156]:
rel_money

['Value', 'Asset', 'Time', 'Education', 'Lifestyle', 'Patience', 'Expenses']

In [157]:
rel_money.pop(-3) # removes by its position

'Lifestyle'

In [158]:
rel_money

['Value', 'Asset', 'Time', 'Education', 'Patience', 'Expenses']

In [159]:
# removal by item
rel_money.remove('Time')
rel_money

['Value', 'Asset', 'Education', 'Patience', 'Expenses']

In [160]:
rel_money.extend(['Income','Income'])
rel_money

['Value', 'Asset', 'Education', 'Patience', 'Expenses', 'Income', 'Income']

In [161]:
rel_money.remove('Income')
rel_money

['Value', 'Asset', 'Education', 'Patience', 'Expenses', 'Income']

In [162]:
del rel_money[2:]

In [163]:
rel_money

['Value', 'Asset']

In [164]:
elements1 = ['wind','Water','Fire']
elements2 = ['Sky','Earth','Ether']
# Concatenate using + Operator
elements1 + elements2

['wind', 'Water', 'Fire', 'Sky', 'Earth', 'Ether']

In [165]:
list_mix

[77, 459, -90.82, 9.81, True, 'Good morning']

In [166]:
# All() checks fo r each item to be True
all(list_mix)

True

In [167]:
list_mix.append(0)
list_mix

[77, 459, -90.82, 9.81, True, 'Good morning', 0]

In [168]:
all(list_mix)

False

In [169]:
# any() requires any one items to be True
any(list_mix)

True

In [170]:
any([False,False,0,0,0,0,00,0.00,0.001])

True

In [171]:
list_num

[56, 44, 28, 98, 77, 99, 56, 45, 56]

In [172]:
# sort a list in ascending order
list_num.sort()

In [173]:
list_num

[28, 44, 45, 56, 56, 56, 77, 98, 99]

In [174]:
list_num.sort(reverse=True) # descending
list_num

[99, 98, 77, 56, 56, 56, 45, 44, 28]

In [175]:
# Membership
9.81 in list_mix # checks for presence of an item within the list

True

In [176]:
9.810 in list_mix

True

In [177]:
# Empty the list
rel_money.clear()
rel_money

[]

In [178]:
# Erase from memory
del rel_money
rel_money

NameError: name 'rel_money' is not defined

### Tuples
Ordered, right sequence of items

In [179]:
# Empty Tuple
t1 = ()
t2 = tuple()
print(t1)
print(t2)

()
()

In [180]:
type(t2)

tuple

In [181]:
tup1 = (24,24,33,81,40,12,5,66)
tup1

(24, 24, 33, 81, 40, 12, 5, 66)

In [182]:
tup1[4]

40

In [184]:
tup1[4] = 60

TypeError: 'tuple' object does not support item assignment

In [185]:
del tup1[2] # Tuples are Immutable

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# Concatenate of types
tup2 = (24,48,72)
tup3 = (96,120,144,168,192)
tup2 + tup3

In [186]:
72 in tup3 # membership of an item within the tuple

NameError: name 'tup3' is not defined

In [ ]:
# Position of an item in the tuple
tup3.index(144)

In [ ]:
# Sorting a Tuple
tup_num = (95,120,14,18,39,87,45,75,20,200)
tup_num

In [ ]:
sorted(tup_num)

In [ ]:
sorted(tup_num, reverse=True)

In [ ]:
tup_num.clear()

In [ ]:
del.tup_num
tup_num

In [ ]:
date2=date1.strftime("%Y")
print(date2)

# 28-Feb-2024

# Sets

In [ ]:
# Empty set
s1 = set()
print(s1)

In [ ]:
s2 = {23,66,41,49,8.445,"Yolo","Objects",True, 55}
s2

In [ ]:
set_1 = {4,7,7,7,8,4,8,4,4,7,4,7,8,8,8,8,7.0}
set_1 # duplicates are noi allowed

In [ ]:
s3 = {4,5,1,1,1,1.0,True,False,True}
s3

In [ ]:
t1 = {4,5,1,1,1,1.0,True,True,0}
t1

In [ ]:
nest1 = [45,22,96,7,5,14,[66,77],{100,201},(45,95,99),4,9,1]

In [ ]:
type(nest1)

In [ ]:
len(nest1)

In [ ]:
nest1

In [ ]:
# access tuple
nest1[-4]

In [ ]:
nest1[-4][1]

In [ ]:
nest1[7]

In [ ]:
nest1[7]

# Set Functions

In [ ]:
set_carparts = {'bore','cylinders','coolant','battery'}
set_carparts

In [ ]:
# Adda single item
set_carparts.add('tyres')
set_carparts

In [ ]:
# add Multiple item
set_carparts.update(['radiator','washer','headlamps','steering'])
set_carparts

In [ ]:
len(set_carparts)

In [ ]:
# removal of item
set_carparts.remove('bore')
set_carparts

In [ ]:
set_carparts.discard('tyres')
set_carparts

In [ ]:
set_carparts.clear()
set_carparts

In [ ]:
del set_carparts # erase from active session

# Operations in Sets

In [ ]:
A = {16,1,18,13,24,20,105,11,107,45}
B = {18,6,12,19,24,27,11,107,38,99,58}
print("Set A is as follows",A)
print("Set B is as follows",B)

In [ ]:
A.union(B) # B.union(A)

In [ ]:
len(A.union(B))

In [ ]:
# Intersection gives common items
A.intersection(B)

In [ ]:
len(A)

In [ ]:
len(B)

In [ ]:
len(A.intersection(B))

### write down the equation to obtain the length of a union of 2 sets in terms of other len() functions

In [ ]:
A.difference(B)

In [ ]:
A|B

## Dictionaries
items expressed in parts **key:value**

In [ ]:
# Empty dictionary
d1 = {}
d2 = dict()
print(d1,d2)

In [ ]:
type(d1)

In [ ]:
type(d2)

In [ ]:
dict_1 = {'A':25,'B':25,'C':35} # Keys may be characters or numbers
print(dict_1)

In [ ]:
dict_1.keys() # keys in a dictionaries

In [ ]:
dict_1.values()

In [ ]:
# Keys used to index a dictionary
dict_1['B']

In [ ]:
dict_1['C']

In [ ]:
# Nested dictionary
cities = {'country':['India','US','UK','Germany','Ireland'],
    'city':{'Karnataka':('Bangalore','Nandi hills','Mysore','Kolor'),
        'Andra':['Kadapa','Tirupati','Guntur','Kurnool'],
        'Maharastra':['Mumbai','Pune','Nagpur','Thane','Nanded']}}
cities

In [ ]:
len(cities)

In [ ]:
len(cities['city'])

In [ ]:
# Extract 'Germany'
cities['country'][3]

In [ ]:
# Extract 'Guntur','Kolor'
cities['city']['Andra'][2]

In [ ]:
cities['city']['Karnataka'][3]

In [ ]:
cities['city']['Karnataka'][-1]

In [ ]:
# Function in Dictionary
profile = {'Name':'ABC','Profits':24,"Share_value":100, "Emp":10}

In [ ]:
profile

In [ ]:
# Emp number changes in the future
profile['Emp'] = 45
profile

In [ ]:
# Share avaliability ti be added
profile['Avl_shares'] = 1000 # initialising a new item with key
profile

In [ ]:
profile['Age'] = 7
profile['Founder'] = 'Sunder'
profile

In [ ]:
profile['Name'] = 'Sai'
profile

In [ ]:
# removal
del profile['Share_value'] # delete using key
profile

In [ ]:
profile.clear()
profile # Emptied

In [ ]:
del profile
profile

### Loops
perform a set of tasks repeatedly

Iterations are usually done with some criteria introducing

In [ ]:
i = 1 # initialised counter
while i<6:
    print(i)
    i += 1 # incrementer

In [ ]:
# use of break statement
i=1
while i<10:
    print(f"The numebr {1} has a square of {i*i}")
    new_var = i**2 + 3*i
    print('New variable comes to',new_var)
    if new_var>30:
        break  # exists the while loop
    i+=1 # incrementer

In [ ]:
# use of continue statement
count = 0
while count<6: # Incrementer provider early
    count+=1

    if count==4:
        continue # Skips all below continue for that iteration
    print("Value is at",count) # main code ststement after continue

In [ ]:
i=1
while i<8:
    print(f"The numebr {1} has a square of {i*i}")
    new_var = i**2 + 3*i
    print('New variable comes to',new_var)
    if new_var>25:
        break  # exists the while loop
    i+=1 # incrementer

# 29-feb-24

### for Loop
as a form of iyteration, for loop requires less coding

it is a go-to loop for working with iterables (list/tuple)

In [ ]:
for i in range(1,7):
    print(i) # main code

In [ ]:
for i in range(5):
    print(f"Cube of {1} is {i**3}")

In [ ]:
# print out the odd numbers between 14 and 42
for i in range(15,42,2):
    print(i)

In [ ]:
list_num = [78,87,82,91,16,39,55]
# find out which are even numbers in the list

for i in list_num:
    if i%2==0:
        print(i,"is even.")

In [187]:
even_list=[]
for i in list_num:
     if i%2==0:
        print(i,"is even.")
        even_list.append(i)

98 is even.
56 is even.
56 is even.
56 is even.
44 is even.
28 is even.

In [188]:
even_list

[98, 56, 56, 56, 44, 28]

In [189]:
fruits = 'Mango','Aplle','Kiwi','Orange','Grape','Banana','Watermelon'
fruits

('Mango', 'Aplle', 'Kiwi', 'Orange', 'Grape', 'Banana', 'Watermelon')

In [190]:
type(fruits)

tuple

In [191]:
for i in fruits:
    print("3 Truckloads of",i)

3 Truckloads of Mango
3 Truckloads of Aplle
3 Truckloads of Kiwi
3 Truckloads of Orange
3 Truckloads of Grape
3 Truckloads of Banana
3 Truckloads of Watermelon

In [192]:
for i in fruits:
    print(f"3 Truckloads of {i}s")

3 Truckloads of Mangos
3 Truckloads of Aplles
3 Truckloads of Kiwis
3 Truckloads of Oranges
3 Truckloads of Grapes
3 Truckloads of Bananas
3 Truckloads of Watermelons

# qty = (4,10,20,15,15,30,10) # corresponding to each fruit in fruits

### Functions

#### user-defined functions

In [193]:
def name_of_function(): # function without an argument (parameter)
    print("Hello")

In [194]:
# Calling a function
name_of_function()

Hello

In [195]:
def more_hellos(n):
    print("Hello "*n)

In [196]:
more_hellos(9)

Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [197]:
22/7

3.142857142857143

In [198]:
# area of a circle
import math
def area_of_circle(r):
    """Computes the area of circle for given radius""" # Docstring
    
    area = math.pi*r*r
    print(area)

In [199]:
area_of_circle(3)

28.274333882308138

In [200]:
# access Docstring
help(area_of_circle)

Help on function area_of_circle in module __main__:

area_of_circle(r)
    Computes the area of circle for given radius

In [201]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [202]:
math.pi

3.141592653589793

In [203]:
# Area of a rectangle
def area_rectangle(l,b):
    """Computes the rectangle area for given dimensions"""
    area = l*b
    print(area)

In [204]:
area_rectangle(185,120)

22200

In [205]:
# function with no arguments but generating output
def perimeter_rectangle():
    """Procures the deminsions from user and calculate the perimeter"""
    lenght = float(input("Enter the lenght of rectangle"))
    breadth = float(input("Enter the breadth of rectangle"))
    perimeter = 2*(lenght + breadth)
    print(perimeter)

In [206]:
perimeter_rectangle()

Enter the lenght of rectangle 25
Enter the breadth of rectangle 32

114.0

In [207]:
help(perimeter_rectangle)

Help on function perimeter_rectangle in module __main__:

perimeter_rectangle()
    Procures the deminsions from user and calculate the perimeter

In [208]:
# assign and save output
p = perimeter_rectangle()

Enter the lenght of rectangle 55
Enter the breadth of rectangle 99

308.0

In [209]:
p #calling

In [210]:
type(p)

NoneType

In [214]:
def perimeter2(l,b):
    """Perimeter computed - use of return"""
    p = 2*(l+b)
    return p

In [215]:
p1 = perimeter2(250,50) # assign to function that used return

In [213]:
p1 # direct assignment works so returns is prefferd over print()

600

Define a function that identifies if a given number is prime.

# 29-02-2024 Online